<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
 <form action="">
    <input type="checkbox" <%= @task.completed ? 'checked' : '' %>>
    <span>This task is <%= @task.completed ? ' completed.' : ' not completed yet.' %></span>
  </form>

<%= link_to 'Edit', edit_task_url(@task.id) %>
<%= link_to 'home', root_path %>
