<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
 <form action="">
    <span class="dot <%= @task.completed ? 'done' : '' %>"></span>
    <p>This task is <%= @task.completed ? ' completed.' : ' not completed yet.' %></p>
  </form>

<%= link_to 'Edit', edit_task_url(@task.id) %>
<%= link_to 'home', root_path %>
